/* .App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Next Custom';
  font-size: 3.5em;
}

.App-intro {
  font-size: large;
} */


/* I did not know if we needed the above styling so i left it alone */

.app {
  align-items: center;
  display: flex;
  flex-direction: column;

}
.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 60%;

}

.cardImg {
  width: 80%;
  height: auto;
  padding: 10%;
}
.cardLocation{
  color: white;
}