.multi-card p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 90%;
}
.header {
    position: fixed;
    width: 100%;
}

.App-header {
    background-image: linear-gradient(rgba(158, 17, 17, 0.2), rgba(158, 17, 17, 0.2)), url("../images/graffiti-wall-1.jpg");
    /* height: 75px; */
    /* padding: 10px; */
    color: #281818;
}

.App-title {
    font-family: 'Sedgwick Ave Display', cursive;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-size: 72px;
    text-shadow: 0 0 0.3em #aa0c0c, 0 0 0.3em #aa0c0c;
}
.App-title {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0;
        width: 100%;
    }
}

.button-container {
    display: flex;
    justify-content: center;
}

.nav {
    position: sticky;
    background-color: dimgray;
    /* height: 15px; */
    padding: 5px;
    top: -1px;
    color: white;
    align-content: center;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbut {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  text-shadow: 0 0 0.1em #070101, 0 0 0.1em #070101;
  color: red;
  border-radius: 3px;
}

.button-style {
  border-radius: 3px;
  margin: 5px;
}

.background-img {
    background: linear-gradient(rgba(158, 17, 17, 0.2), rgba(158, 17, 17, 0.2)), url("../images/girlspray.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.welcome {
    width: 44%;
    height: 25rem;
    font-size: 24px;
    margin: 0 auto;
    color: white;
    text-shadow: 0 0 0.1em #070101, 0 0 0.1em #070101;
    padding: 15%;
}

.enter {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 5rem;
    font-size: 20px;
    background-color: dimgray;
    color: white;
    text-shadow: 0 0 0.1em #070101, 0 0 0.1em #070101;
    margin: 0 auto;
}

.goto {
    color: white;
    text-decoration: none;
}

.enter {
  cursor: pointer;
}

.subtitle {

    display: flex;
    justify-content: center;
}

.app {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card {
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #252222;
    cursor: pointer;
    margin: 20px auto 20px auto;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img {
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 20px;
    border-radius: 5%;
}

.card-location {
    color: white;
}

.card-buttons {
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.directions {
    width: 50%;
    text-align: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
    margin: 0px auto 20px auto;
}

input {
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[name='location'] {
  display: none;
}

label[for='location'] {
  display: none;
}

footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: dimgray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.multi-card {
  text-align: center;
  background-color: #fffefe;
  width: 80%;
  height: 285px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/2e/Notecard.jpg'); */
}

.home-atag {

}

.art-atag {


}
