.header {
  position: fixed;
  width: 100%;
}


.App-header {
    background-image: linear-gradient(rgba(158, 17, 17, 0.2), rgba(158, 17, 17, 0.2)), url("../images/graffiti-wall-1.jpg");
    height: 150px;
    padding: 20px;
    color: #281818;
}


.App-title {
    font-family: 'Sedgwick Ave Display', cursive;
    display: flex;
    justify-content: center;
    margin-top: 0.1%;
    font-size: 16vmin;
    text-shadow: 0 0 0.3em #aa0c0c, 0 0 0.3em #aa0c0c;
}
.App-title {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0;
        width: 100%;
    }
}

.button-container {
    display: flex;
    justify-content: center;
}

.nav {
    background-color: dimgray;
    height: 15px;
    padding: 25px;
    color: white;
    align-content: center;
}

.navbut {
    flex-direction: row;
    justify-content: center;
    width: 10%;
    height: 2rem;
}

.button-style {
    text-decoration: none;
    font-size: 1vw;
    text-shadow: 0 0 0.1em #070101, 0 0 0.1em #070101;
    color: red;
}

.background-img {
    background: linear-gradient(rgba(158, 17, 17, 0.2), rgba(158, 17, 17, 0.2)), url("../images/girlspray.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.welcome {
    width: 44%;
    height: 25rem;
    font-size: 24px;
    margin: 0 auto;
    color: white;
    text-shadow: 0 0 0.1em #070101, 0 0 0.1em #070101;
    padding: 15%;
}

.enter {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 5rem;
    font-size: 20px;
    background-color: dimgray;
    color: white;
    text-shadow: 0 0 0.1em #070101, 0 0 0.1em #070101;
    margin: 0 auto;
}

.goto {
    color: white;
    text-decoration: none;
}

.subtitle {

    display: flex;
    justify-content: center;
}

.app {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
}

.card-img {
    width: 80%;
    height: auto;
    padding: 10%;
}

.card-location {
    color: white;
}

.card-buttons {
    align-items: center;
    width: 100%;
    height: auto;
}



.input-wrapper {
  display: flex;
  flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: dimgray;
    color: white;
}
