.page-2-container{
width: 100%;
height: auto;
display: flex;
flex-direction: row;
}

.map-container{
  width: 60%;
}

.card-lib{
  width: 100%
}
.art-list{
  width: 100%;

}
.map-container-lib{
  width: 67.4%;

}
