.page-2-container{
width: 100%;
height: auto;
display: flex;
flex-direction: row;
margin-top: 13%;
margin-bottom: 1.3%;
}

.map-container{
  width: 50%;
}

.card-lib{
  width: 100%
}
.art-list{
  width: 50%;

}
.map-container-lib{
  width: 67.4%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 5%;
  position: fixed;
  left: 58%;

}

.card {

}